# create a don't-ignore list (a list of file types that should be tracked by git)
# please do not use the '**/' pattern, because it "is available in Git since version 1.8.2"
#
# 0 ignore -> don't ignore list
# 1 c++ files
# 2 shader files
# 3 CMake files
# 4 .gitignore file
# 5 ignore build directories

### 0 ignore -> don't ignore list ###
# ignore everything
*.*

### 1 C++ files ###
# don't ignore c++ files
!*.cpp
!*.hpp
!*.h

### 2 shader files
# don't ignore shader files
!*.frag
!*.vert

### 3 CMakeLists.txt ##
# don't ignore CMakeLists.txt files
!CMakeLists.txt
!*.cmake

### 4 .gitignore ###
# don't ignore .gitignore files
!.gitignore

### 5 build directories
# This must be done in the end in order 
# to not track files, that have been
# copied into build directory.
# ignore build directory
*/build/*

### 5 don't ignore Shader sources
!*.vert
!*.geom
!*.frag
